{% extends "reusable/base.html" %}

{% load django_bootstrap5 %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container-sm" style="max-width: 500px">
    <h4 class="mt-3 mb-4">Login</h4>
    <form method="post">
        {% csrf_token %}

        {% bootstrap_form form %}
        
        <a
            class="d-block link-dark"
            href="{% url 'password_reset' %}"
        >
            Forgot Password?
        </a>

        <button
            type="submit"
            class="btn btn-primary mt-4"
        >
            Login
        </button>

        {% if is_demo_login_available == True %}
            <button
                type="submit"
                name="demo-login-button"
                class="btn btn-primary mt-4"
                formnovalidate="true"
            >
                Login as Demo User
            </button>
        {% endif %}
    </form>
</div>
{% endblock content %}
