{% extends "reusable/base.html"  %}

{% load static %}

{% block title %}
    Personal Schedule
{% endblock title %}

{% block content %}
  <div class="container">
    <h4 class="mt-3 mb-4 text-center">Personal Schedule</h4>
    <div class="week_with_buttons">
      <a class="btn btn-light week-arrow-button" href="?monday={{ previous_monday }}" role="button">
        <img src="{% static 'icons/bootstrap/arrow-left.svg' %}" alt="Arrow Left Icon">
      </a>
      <p>{{ week_string }}</p>
      <a class="btn btn-light week-arrow-button" href="?monday={{ next_monday }}" role="button">
        <img src="{% static 'icons/bootstrap/arrow-right.svg' %}" alt="Arrow Right Icon">
      </a>
    </div>

    <table class="table table-light table-borderless">
      <thead>
        <tr>
          <th scope="col">Start</th>
          <th scope="col">End</th>
        </tr>
      </thead>
      {% for week_day, one_day_shifts in shifts %}
        <thead>
          <tr class="table-primary">
            <th scope="col" colspan="2">{{ week_day }}</th>
          </tr>
        </thead>
        <tbody>
          {% for shift in one_day_shifts %}
              <tr>
                <td>{{ shift.start }}</td>
                <td>{{ shift.end }}</td>
              </tr>
          {% endfor %}
          <tr>
            <td colspan="3"></td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </div>
{% endblock content %}