#branding-icon-admin {
    height: 60px;
    width: 60px;
    border: solid 2px #facbb2;
    border-radius: 100%;
}
#site-name.h1.a.img {
    border-radius: 100%;
}
#user-tools a {
    margin-left: 5px !important;
    margin-right: 5px !important;
    font-weight: 400 !important;
}
#user-tools {
    margin-left: 5px !important;
    font-size: 13px;
}
:root {
    --primary: #E7804A !important;
    --secondary: #cf6233 !important;
    --accent: #fff !important; /* eg. Main Header Title */
    --primary-fg: #fff !important;

    --body-fg: #333 !important;
    --body-bg: #fff !important;
    --body-quiet-color: #666 !important;
    --body-loud-color: #000 !important;

    --header-color: #fff !important;
    --header-branding-color: var(--accent) !important;
    --header-bg: var(--secondary) !important;
    --header-link-color: var(--primary-fg) !important;

    --breadcrumbs-fg: #fff !important;
    --breadcrumbs-link-fg: var(--body-bg) !important;
    --breadcrumbs-bg: var(--primary) !important;

    --link-fg: #6e402a !important;
    --link-hover-color: #30231d !important;
    --link-selected-fg: #30231d !important;

    --hairline-color: #e8e8e8 !important;
    --border-color: #ccc !important;

    --error-fg: #ba2121 !important;

    --message-success-bg: #dfd !important;
    --message-warning-bg: #ffc !important;
    --message-error-bg: #ffefef !important;

    --darkened-bg: #f8f8f8 !important; /* A bit darker than --body-bg */
    --selected-bg: #e4e4e4 !important; /* E.g. selected table cells */
    --selected-row: #f7ded1 !important;

    --button-fg: #fff !important;
    --button-bg: var(--primary) !important;
    --button-hover-bg: #97542f !important;
    --default-button-bg: var(--secondary) !important;
    --default-button-hover-bg: #7e3b1f !important;
    --close-button-bg: #888 !important; /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: #747474 !important;
    --delete-button-bg: #ba2121 !important;
    --delete-button-hover-bg: #a41515 !important;

    --object-tools-fg: var(--button-fg) !important;
    --object-tools-bg: var(--close-button-bg) !important;
    --object-tools-hover-bg: var(--close-button-hover-bg) !important;
}

