#branding-icon-user {
    height: 64px;
    width: 64px;
    border-radius: 100%;
}
.week_with_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;
}
.week_with_buttons p {
    padding: 0;
    margin: 0;
}
.week-arrow-button {
    background-color: #f8ebe3;
}
.week-arrow-button:hover {
    background-color: #e2c5b5;
}
.week-arrow-button:active:hover {
    background-color: #e2c5b5;
}
table.table.table-light.table-borderless thead tr.table-primary th {
    background-color: #E7804A;
}
 
.btn-primary {
    background-color: #E7804A !important;
    border-color: #E7804A !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #C84D24 !important;
    border-color: #C84D24 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(231, 128, 74, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(231, 128, 74, 0.6);
  outline: 0 none;
}